@media only screen and (min-width: 768px) {
    /* main {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        column-gap: 10px;
    }

    main h1 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
        width: 100%;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .hero span {
        font-size: 2rem;
    }

    .discover {
        font-size: 2rem;
    }
    
    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display:flex;

    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      
    .counter {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }


    .hover:hover {box-shadow: 0 0 50px #333;
    }

    .join-container {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        gap: 2rem;
    }

    .join-container h1 {
        grid-column: 1 /3; 
    }


    .menu{
        grid-column: 1/3;

    }
    }
    .grid {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        align-items: stretch;
    }

    .list {
        grid-column: 1/3;
        align-items: center;
        gap: 0.5rem;
    }


 */
