*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --primary-color: #1E3A5F; 
    --secondary-color: #3B5998; 
    --accent-color:#00B4D8; 
    --text-color: #FFFFFF; 
    --font-heading: "Montserrat", sans-serif;
    --font-paragraph: "lora", serif;
    --background-color: #eee;
}

body {
    font-family: var(--font-paragraph);
    margin: 0 auto;
    padding: 20px;

}

h1, h2 {
    font-family: var(--font-heading);
}
/* **************************HEADER*********************** */
header {
    display:grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}


header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color)
}

/* **************************Hamburger Navigation***************** */
.hamburger{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: verdana, var(--font-heading);
}

.hamburger::before{
    content:"\2630";
    font-size: 2rem;
}

.hamburger.show::before{
    content: "\00D7";

}


/* ********************NAVIGATION************************ */
.navigation {
    display:none;
}

.navigation.show {
    display: block;
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background: #eee;
}

.navigation a:hover {
    background-color: var(--primary-color);
    color:white;
}

/* ******************************FOOTER******************************* */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    width: 44px;
    height: 44px;;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}


/* ***************************************************************************** */
h1 {
    margin: 1rem 10px;
    color: var(--primary-color);


}

h2 {
    background-color: var(--primary-color);
    color: white;
    padding: .5rem;
    text-align: center;
}


main {
    margin: 10px;
    
}

#profilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profilePic h2 {
    text-align: center;
    width: 100%;
}

#profilePic img {
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    justify-content: center;
}

.cards section{
    margin: 10px 0;
    background-color: var(--background-color);
}

p{
    padding: 10px;
}