@media only screen and (min-width: 38rem){
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }


    header{
        grid-template-columns: 24px auto;
    }

    
    .hamburger{
        display: none;
    }


    .navigation {
        display:block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .aboutme {
        grid-column: 1/3;
    }

    .certifications {
        grid-column: 1/4;
    }

    #courseButtons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #courseList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

}